$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body, html {
  height: 100%;
  overflow: hidden; //keeps the page from scrolling
}

body {
  margin: 0;
  background-color: #000000;
  background-size: cover;
}

html,body,.container {
  height: 100%;
  weight: 100%;
}

.container {
  padding: 0;
  width: 100%;
}

.row {
  height: 100%;
}

#toprow {
  background-color: #000000;
  margin: 0;
}

#title {
  color: #ffffff;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#score {
  color: #ffffff;
  position: absolute;
  top: 30px;
  right: 100px;
  font-size: 2em;
}

#bottomrow {
  height: 80px;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #000000;
}

.col-sm-2 {
  // margin-bottom: -1000px;
  // padding-bottom: 1000px;
  background-color: #000000;
}
.col-sm-8 {
  background-color: gray;
  background-image: url("/images/ocean.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  // margin-bottom: -1000px;
  // padding-bottom: 1000px;
}

#buttong1 {
  position: relative;
  padding-bottom: 5px;
}

#buttong2 {
  position: relative;
}
#btn-group {
  position: relative;
}

#dashes-container {
  margin-top: 300px;
  margin-bottom: 60px;
}

#dashes {
  font-size: 2em;
  color: #ff0000;
  position: relative;
}

