$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body, html {
  height: 100%;
  overflow: hidden; //keeps the page from scrolling
}

body {
  margin: 0;
  background-color: #000000;
  background-size: cover;
}

html,body,.container {
  height: 100%;
  weight: 100%;
}

.container {
  padding: 0;
  width: 100%;
}

.row {
  height: 100%;
}

#toprow {
  background-color: #000000;
  margin: 0;
}

#title {
  color: #ffffff;
  margin: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#bottomrow {
  height: 80px;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #000000;
}

.col-sm-2 {
  background-color: #000000;
}
.col-sm-8 {
  background-color: gray;
  background-image: url("/images/hangman.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
}

#buttong1 {
  position: absolute;
  top: 460px;
  left:249px;
}

#buttong2 {
  position: absolute;
  top: 500px;
  left: 247px;
}

#btn-group {
  position: relative;
}

#dashes-container {
  // margin-top: 0;
  // margin-bottom: 0;
}

#dashes {
  font-size: 2em;
  color: #ff0000;
  position: absolute;
  margin-left: 320px;
  top: 400px;
  z-index: 3;
}

#start {
  width: 100px;
  margin-left: 350px;
  margin-top: -300px;
  position: absolute;
  top: 300px;
}

#hangman-container {
  position: relative;
}

#hanghim {
  background-image: url("/images/hanghim.png");
  margin-top: 210px;
  margin-left: 130px;
  width: 100px;
  height: 300px;
  max-height: 100px;
  z-index: 1;
  background-repeat: no-repeat;

}

#pscore, #moves, #scorekeeper, #move, #movekeeper

{
  font-size: 2.5em;
  color: #ff0000;
}
